<header>
  <nav aria-label="Top">
    <div class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none">
      <div class="flex w-full justify-between">

				<div class="flex">
					<a href="/">
						<span>Mac Martine</span>
					</a>
				</div>

        <div class="flex ml-10 hidden space-x-8 lg:block">
          <a href="/" class="text-base font-medium">Reflections</a>

          <a href="/newsletter" class="text-base font-medium">Newsletter</a>

          <a href="/about" class="text-base font-medium">About</a>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap justify-center gap-x-6 py-4 lg:hidden">
			<a href="/" class="text-base font-medium">Reflections</a>

			<a href="/newsletter" class="text-base font-medium">Newsletter</a>

			<a href="/about" class="text-base font-medium">About</a>
    </div>

  </nav>
</header>

