<header class="text-xl tracking-wider">
  <nav aria-label="Top">
    <div class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none">
      <div class="flex w-full justify-between">

				<div class="flex">
					<a href="/" class="text-red-600">
						<span>Mac Martine</span>
					</a>
				</div>

        <div class="flex ml-10 hidden text-blue-400 space-x-8 lg:block">
          <a href="/" class="font-medium">Reflections</a>

          <a href="/newsletter" class="font-medium">Newsletter</a>

          <a href="/about" class="font-medium">About</a>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap text-blue-400 justify-center gap-x-6 py-4 lg:hidden">
			<a href="/" class="font-medium">Reflections</a>

			<a href="/newsletter" class="font-medium">Newsletter</a>

			<a href="/about" class="font-medium">About</a>
    </div>

  </nav>
</header>

