<header class="text-xl tracking-wider">
  <nav aria-label="Top">
    <div class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none">
      <div class="flex w-full justify-between">

        <div class="flex">
          <a href="/" style="color: #04A5BB">
            <img src="/img/m-50.png" class="w-10"/>
          </a>
        </div>

        <div class="flex ml-10 hidden space-x-8 lg:block">
          <a href="/" class="font-medium text-red-800 nav-menu-items">Reflections</a>
          <a href="/newsletter" class="font-medium text-red-800 nav-menu-items">Newsletter</a>
          <a href="/now" class="font-medium text-red-800 nav-menu-items">Now</a>
          <a href="/about" class="font-medium text-red-800 nav-menu-items">About</a>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center gap-x-6 py-4 lg:hidden">
      <a href="/" class="font-medium text-red-800 hover:text-gray-400 nav-menu-items">Reflections</a>
      <a href="/newsletter" class="font-medium text-red-800 nav-menu-items">Newsletter</a>
      <a href="/now" class="font-medium text-red-800 nav-menu-items">Now</a>
      <a href="/about" class="font-medium text-red-800 nav-menu-items">About</a>
    </div>

  </nav>
</header>

