{% for post in postslist | reverse %}
  <div>
    <span class='post-date'>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </span>
    <span class='post-title'>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </span>
  </div>
{% endfor %}
