
<div class='mt-8 border border-red-200 pb-16 px-8'>
  <h2>Enjoy this?</h2>
  <p class='mb-4'>Subscribe here to get more content like this directly in your inbox each week.</p>
  {% include "./subscribe.njk" %}
</div>
