
<div class="w-full" id="custom-substack-embed"></div>

<script>
  window.CustomSubstackWidget = {
    substackUrl: "thesaasbootstrapper.substack.com",
    theme: "custom",
    placeholder: "curious@domain.com",
    colors: {
      primary: "#db7965",
      input: "#FFFFFF",
      email: "#171717",
      text: "#fff",
    }
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>
