
<div id="custom-substack-embed"></div>

<script>
  window.CustomSubstackWidget = {
    substackUrl: "thecuriousinnovator.substack.com",
    theme: "custom",
    placeholder: "curious@domain.com",
    colors: {
      primary: "#ff9c63",
      input: "#FFFFFF",
      email: "#171717",
      text: "#000000",
    }
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>
