
<div class='subscribe'>
  <h3>Enjoying this article?</h3>
  Subscribe here to get more content like this directly in your inbox each week.

  <div id="custom-substack-embed"></div>

  <script>
    window.CustomSubstackWidget = {
      substackUrl: "thecuriousinnovator.substack.com",
      theme: "custom",
      placeholder: "curious@domain.com",
      colors: {
        primary: "#ff9c63",
        input: "#FFFFFF",
        email: "#171717",
        text: "#000000",
      }
    };
  </script>
  <script src="https://substackapi.com/widget.js" async></script>
</div>
