@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-gray-600;
	@apply text-lg;
}

a {
  @apply text-indigo-400;
}

p {
	@apply py-2;
}

h2 {
	font-size: 26px;
	@apply my-4;
}

h3 {
	font-size: 22px;
	@apply my-4;
}

h4 {
	font-size: 18px;
	@apply my-4;
}

ul li {
  list-style-type: "→";
	@apply ml-4;
}

blockquote {
  border-left: 1px solid red;
  @apply my-4;
  @apply pl-4;
  @apply text-xl;
  @apply italic;
}
