
body {
	font-family: 'Helvetica';
	color: #444;
	padding: 0 48px 96px;
	font-size: 22px;
	line-height: 26px;
}

.wrapper {
	width: 740px;
	margin: auto;
	padding-top: 24px;
}

.post-title {
	color: #444;
	font-size: 24px;
  margin-top: 0px;
}

.post-date {
	color: #999;
	margin-right: 12px;
	font-size: 16px;
}

/* .inline { */
/* 	display: inline; */
/* } */

.back-btn {
	margin: 12px 0 24px;
}

h1, h2, h3 {
	font-weight: bold;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

li {
	margin-bottom: 12px;
}

p {
	padding-top: 12px;
}

a {
	color: #2c9899;
	text-decoration: none;
}

ul li {
	list-style: none;
}
