<!doctype html>
<html lang="en">
	{% include "components/head.njk" %}

  <body class="pb-32">

    <div class="max-w-xs sm:max-w-lg lg:max-w-2xl m-auto">

      {% include "components/navigation.njk" %}

			<div class="mt-8">
				{{ content | safe }}
			</div>

		</div>

  </body>

</html>
