<!doctype html>
<html lang="en">

	{% include "components/head.njk" %}

  <body>

    <h1>{{ title }}</h1>

    <h3>{{ subtitle }}</h3>

    <div><a>{{ categories }}</a></div>

    <div>
      <img src="https://media.licdn.com/dms/image/C4E03AQEIlt_-XFExBA/profile-displayphoto-shrink_100_100/0/1517035086718?e=1678924800&v=beta&t=YQM06MHIjEkXcbCAv0GbKxEGbyqWtMInDNLWPhNF_u4" class='avatar'/>

      <i class='written-by'>written by </i><span class='author-name'>Mac Martine</span>
    </div>

    {{ content | safe }}

  </body>

</html>
