---
layout: layouts/base.njk
---

<div class='back-btn'>
	<a href='/'>< Back</a>
</div>

<div class='post-date'>
	<time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
</div>
<article>{{ content | safe }}</article>
