---
title: "The Curious Innovator: Insights for thinkers and doers"
subtitle: "For those seeking to understand and improve the human experience through personal growth, financial independence, and societal impact."
image: 'https://macmartine.com/img/newsletter-image.png'
layout: layouts/base.njk
permalink: /
tags:
  - Technology
  - Innovation
eleventyNavigation:
  key: Blog
  order: 2
---
<div style="display: flex; width: 100%">

<div class='article-list-column'>
<h2>Previous posts</h2>
{% set postslist = collections.newsletter.slice(0, 5) %}
{% include "components/postslist.njk" %}
</div>

</div>
