---
title: "The Curious Innovator: Insights for thinkers and doers"
subtitle: "For those seeking to understand and improve the human experience through personal growth, financial independence, and societal impact."
image: 'https://macmartine.com/img/newsletter-image.png'
layout: layouts/base.njk
permalink: /sd
tags:
---

<div class="p-2 lg:p-8">

  <p>Welcome! I'm Mac. I'm an entrepreneur, family slomad, multipotentialite, and slow thinker.</p>

  <p>I call this place you've found yourself in my digital garden, or commonplace book.</p>

  <p>It's the place where I explore ideas, and share what I learn, as I'm learning it, with a focus on the timeless. It's my attempt to shine a light in the direction of balance and harmony in the interplay between time and money, contentment and achievement, fulfillment and desire, [present and future]().
All those little things that humans thrive on and struggle with daily - how we should live, how to get the most of out life, and how to maintain that child-like awe of this universe we find ourselves in.</p>

  <p>Come back often, the door is always open. And please reach out and introduce yourself, I love meeting new interesting people:</p>
  <p>Email: <a href='mailto:mac@macmartine.com'>mac@macmartine.com</a> / Twitter: <a href='https://twitter.com/saasmakermac' target='_blank'>@saasmakermac</a></p>

</div>

{% include "components/subscribe-box.njk" %}

<!--

<h2>Reflections</h2>
{% set postslist = collections.blog %}
{% include "components/postslist.njk" %}
-->
