---
title: "The Curious Innovator: Insights for thinkers and doers"
subtitle: "For those seeking to understand and improve the human experience through personal growth, financial independence, and societal impact."
image: 'https://macmartine.com/img/newsletter-image.png'
layout: layouts/base.njk
permalink: /
tags:
---

<div>

	<div class="pb-5">
		<div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
			<h3 class="ml-2 mt-2 text-xl font-medium leading-6 text-gray-500">Reflections</h3>
		</div>
	</div>

	{% set postslist = collections.blog.slice(0, 5) %}
	{% include "components/postslist.njk" %}

</div>

